@use "../abstracts/variables" as vars;

.filters-panel {
  margin: 2rem 0 2.5rem;
}

.app-switch {
  // anidamiento Sass: control interno del switch
  .form-check-input {
    background-color: rgba(255, 255, 255, 0.16);
    border-color: vars.$color-border;

    &:checked {
      background-color: vars.$color-primary;
      border-color: vars.$color-primary;
    }
  }
}
