<article class="movie-card" [attr.data-format]="movie?.format || 'VHS'">
  @if (movie; as currentMovie) {
    <a [routerLink]="['/pelicula', currentMovie.id]">
      <img class="movie-poster" [src]="currentMovie.poster" [alt]="currentMovie.title" />
      <div class="movie-card-body">
        <h3 class="movie-title">{{ currentMovie.title }}</h3>
        <p class="movie-meta">{{ currentMovie.genre }} / {{ currentMovie.year }}</p>
      </div>
    </a>
  } @else {
    <div class="movie-card__placeholder">
      <img class="movie-poster" src="assets/img/movie-fallback.svg" alt="" />
      <div class="movie-card-body">
        <h3 class="movie-title">Pelicula pendiente</h3>
        <p class="movie-description">La data se migrara en un paso posterior.</p>
      </div>
    </div>
  }
</article>
